h1 {
    margin-bottom: 15px;
    font-size: 60px;
    color: white;
    text-align: center;
    text-decoration: underline;
   
    background-color: black;
  }
  
  h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
  }
 
  
  h3 {
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
    color: blue;
  }
 
  
  img {
    /
    margin-left: auto;
    margin-right: auto;
  
    display: block;
  }
  
  
  p {
    background-color: blue;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  ul {
    text-align: center;
    font-size: 35px;
    border-style: solid;
    border-width: 5px;
    list-style-position: inside;
  }